div{
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  all: unset;
  font-size: 68px;
  font-weight: 700;
}

textarea{
  all: unset;
  height: 100%;
  outline: 0px solid transparent;
  font-size: 24px;
  overflow-x: hidden;
  word-wrap: break-word;
}
