.header{
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.icons{
  display: flex;
  gap: 40px;
}

.icon{
  width: 40px;
  height: auto;
}

.icon:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

section{
  margin-bottom: -140px;
  width: 100%;
}
