div{
  background-color: #2E34A3;
  width: 22vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

p{
  color: white;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
